*{
  margin: 0;
  padding: auto;
  box-sizing: border-box;

}

#titolo::after{
  content: "";
  clear: both;
  display:table;
}

#titolo{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  padding: 10px;
}

.bellino{
  float: left;
  height: 100px;
  width: 100px;
  background-image: url(../img/blyat.jpg);
  background-size: contain;

}

.bellino01{
  float: right;
  height: 100px;
  width: 100px;
  background-image: url(../img/blyat.jpg);
  background-size: contain;
