*{
  margin: 0;
  padding: auto;
  box-sizing: border-box;

}

.container::after {
  content: "";
  clear: both;
  display:table;
}

.container{
  /* margin: auto; */
  /* text-align: center; */
  /* margin-top: 20px; */
  /* width: 50%; */
}

#titolo{
float: left;
text-align: center;
width: 40%;
font-size: 50px;

}

.bellino{
  float: left;

}

.bellino01{
  float: right;

}

img{
  float: left;
  width: 30%;
}

#img1{
  float: right;
  width: 30%;
}
